[submodule "themes/hugo-apero"]
	path = themes/hugo-apero
	url = https://github.com/hugo-apero/hugo-apero.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
